<?xml version="1.0"?>
<!--
/**
 * Copyright © RedChamps, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="RedChamps_EasyConfigMenu::item" title="Settings" translate="title" module="RedChamps_EasyConfigMenu" sortOrder="70" dependsOnModule="RedChamps_EasyConfigMenu" resource="RedChamps_EasyConfigMenu::item"/>
    </menu>
</config>
